/CustomerSolution/obj/
/CustomerSolution/.idea/
/.idea/
/CustomerSolutionAPI/.idea/
/CustomerSolutionAPI/bin/
/CustomerSolutionAPI/obj/
/CustomerSolutionTests/bin/
/CustomerSolutionTests/obj/
/.vs
/CustomerSolution/bin/Debug/net8.0
*.user
